body {
	padding-top: 70px;
}

footer {
	border-top: solid 1px;
	margin: 5em 0;
}

footer li {
	float:left;
	margin-right:1.5em;
	margin-bottom:1.5em;
}

footer p {
	clear:left;
	margin-bottom:0;
}

header {
	font-size: 4em;
}

.filter .glyphicon {
	font-weight: lighter;
	font-size: 0.6em;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.col-button {
	cursor: pointer;
}

.filter .filter-buttons {
	width: 90%;
	line-height: 3em;
	margin: 0 auto;
}

.filter button {
	width: 15%;
}

.main-body {
	min-height: 400px;
}

.job-description {
	border-left: 1px solid #eee;
}

#who-applied .glyphicon {
	font-weight: lighter;
	font-size: 0.6em;
}